.bg-hero {
  background-repeat: repeat;
  background:
    linear-gradient(-90deg, var(--color-base-300) 1px, transparent 1px),
    linear-gradient(var(--color-base-300) 1px, transparent 1px),
    linear-gradient(-90deg, var(--color-base-300) 1px, transparent 1px),
    linear-gradient(var(--color-base-300) 1px, transparent 1px),
    linear-gradient(
      transparent 6px,
      transparent 6px,
      transparent 156px,
      transparent 156px
    ),
    linear-gradient(-90deg, var(--color-base-200) 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 6px,
      transparent 6px,
      transparent 156px,
      transparent 156px
    ),
    linear-gradient(var(--color-base-200) 1px, transparent 1px), transparent;
  background-size:
    32px 32px,
    32px 32px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px;
}

.bg-noise {
  background-size: 10%;
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-image: url('/images/65809a10c85f59a63201a8a5_noise-light.png');
}

.bg-grad {
  background: radial-gradient(circle, var(--color-accent) 0%, transparent 70%);
}

.bg-grad:nth-child(2) {
  background: radial-gradient(
    circle,
    var(--color-secondary) 0%,
    transparent 70%
  );
}
